@charset "UTF-8";

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  margin: 0;
  padding: 0;
}

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
content: "";
display: table;
clear: both;
}

html {
	height: 100%;
	text-align: center;
}

.home-page {
	background-image: url("../images/wall.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	}
	
.black-background {
	background-color: #161616;
}	

p, a, li, li a:link, li a:visited, li a:active, li a:hover, .label-left, .label-right{
	color: white;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Orbitron', sans-serif;
	font-size: 0.9em;
}

img:hover {
    opacity: 0.8;
}

h1, h2, h4, h5 {
	color: #fff;
	font-weight: 400;
	font-family: 'Orbitron', sans-serif;
}

h1 {
	font-size: 2.5em;
	margin-top: 270px;
}

h2 {
	font-size: 1.5em;
	}

h4 {
	font-size: 1.0em;
	margin: 20px 0 15px 0;
}

h5 {
	font-size: 1.0em;
	margin: 20px 0 65px 0;
}

.header {
	margin-top: 90px;
	margin-bottom: 65px;
	text-align: center;
}	

.label-left {
	position: fixed;
	left: 5px;
	top: 45%;
	-webkit-writing-mode: vertical-rl; 
	writing-mode:tb-rl;
	-moz-transform: rotate(0deg);  /* Firefox */
    -o-transform: rotate(0deg);  /* Opera */
    -webkit-transform: rotate(0deg);  /* Safari&Chrome */
    }

.label-right {
	position: fixed;
	right: 5px;
	top: 48%;
	-webkit-writing-mode: vertical-rl; 
	writing-mode:tb-rl;
	-moz-transform: rotate(-180deg);  /* Firefox */
    -o-transform: rotate(-180deg);  /* Opera */
    -webkit-transform: rotate(-180deg);  /* Safari&Chrome */
    }


.email-me {
	float: right;
	position: absolute;
    right: 5%;
	top: 83px;   
}

.email-me img {
	width: 38px;
	height: 33px;
}

.share {
	position: relative;
	margin-top: 35px;
	margin-bottom: 30px; 
}

.share img{
	width: 23px;
	height: 30px;
}

.hamburger {
  position: absolute;
  top:278px;
  right:35%;
  z-index: 90;
  display: block;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .hamburger {
  	margin-top: 15px;
    left: 50%;
  }
}

.hamburger span {
  display: block;
  width: 20px;
  height:3px;
  background-color: #fff;
  margin:2px 0;
}

.categories-box {
	width: 300px; 
	height: 300px; 
	border: 1px solid grey;
	background: #fff;
	position: fixed; 
	top: 45%; 
	left: 50%;
	margin-top: -150px;
	margin-left: -150px; 
	opacity: 0; 
	z-index: 5; 
	padding: 20px 10px;
	display: none;
}

.categories-box a {
	display: block;
	color: #000;
	font-size: 21px;
	margin-top: 10px;
}

.share-modal-box {
	width: 300px; 
	height: 300px; 
	border: 1px solid grey;
	background: #fff;
	position: fixed; 
	top: 45%; 
	left: 50%;
	margin-top: -150px;
	margin-left: -150px; 
	opacity: 0; 
	z-index: 5; 
	padding: 20px 10px;
	display: none;
}

.share-modal-box a {
	display: block;
	color: #000;
	font-size: 55px;
	margin-top: 10px;
}

.overlay {
	z-index:3; 
	position:fixed; 
	background-color:#000;
	opacity:0.8; 
	-moz-opacity:0.8; 
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	cursor:pointer;
	display:none; 
}

.playlist {
	display: block;
	width: 54%;
    position: relative;
    margin: 0 auto;
    float: none;
}

.nav-bar {
	margin-top: 45px;
}

.contact {
	margin-top: 45px;
}

.triangle {
	width: 25px;
	height: 25px;
	margin-top: 55px;
}

.social-icons {
	margin-top: 45px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.tags {
    display: block;
    margin-bottom: 55px;
    font-size: 14px;
}

section {
	display: block;
	width: 78%;
    position: relative;
    margin: 10px auto;
    float: none;
}

.flex-container {
	max-width: 350px;
	height: 250px;
	margin: 0 auto;
}

.flex-container img {
	width: 100%;
    height: 100%;
    float: left;
	margin: 0 3% 0 0;
}

.sound-design-work {
    display: block;
	width: 90%;
    position: relative;  
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    padding: 2% 2% 2% 2%;
    overflow: hidden;
}

.center-float-box-1, .center-float-box-2 {
    margin-top: 5px;
    margin-bottom: 55px;
}

.center-float-box-3 {
    width: 70%;
    margin: 0 auto;
}

.center-float-box-1 img, .center-float-box-2 img {
    height: 150px;
    width: 150px;
}

.center-float-box-3 h5{
	margin-top: 45px;
}

.sdc-tag li{
	margin-top: 15px;
}

/* grid for sound-design-portfolio page START */
.row-3 p{
    text-align: center;
}

[class*="row-"] {
  margin-bottom: 20px;
}
[class*="row-"]:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
}

@media all and ( min-width: 850px ) {  
  /* all cols margin */
  [class*="col-"] {
    margin-right: 5%;
  }
  [class*="col-"]:last-child {
    margin-right: 0;
  }
 
  /* make the columns responsive */
 .col-1-3 {
    float: left;
    width: 30%;
}

 /* 3 span rows */
 .row-3 {
    padding-left: 90px;
 }
 .row-3 [class*="col-"]:first-child {
    margin-left: -60px;
 }
}
/* grid for sound-design-portfolio page END */

.contact-form {
	display: block;
	padding: 50px 0 0 0;
	height: 300px;
	width: 40%;
	margin: 0 auto;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .contact-form {
    width: 60%;
  }
}

.email, .name {
	width: 95%;
	height: 25px;
	margin: 0 0 9px 0;
}

.letter {
	width: 95%;
	height: 100px;
	margin: 0 0 5px 0;
}

input[type="text"], input[type="email"], textarea { 
	outline: 0;
}

input[type="submit"] {
  position: relative;
  color: white;
  padding: 10px 30px;
  outline: none;
  background-color: #000;
  border: 1px solid grey;
} 
input[type="submit"]:active {
  top: 1px;
}
